.hRow{
/*main header container*/
border-style: double;
height: 75px;



}

.header{
    /*header */
    border-style: dashed;
    height: 70px;


}
.qContainer{
    /*Larger quiz container, includes timer and scores*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-style: dotted;
    height: 550px;


}
#qCtn{
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: all;
}

#qCtn.active {
    pointer-events: none;
    opacity:0;
}




.quiz{
    /*Quiz container for quiz only*/
    display: flexbox;
    border-style: solid;
    height: 545px;
    width: 850px;
    align-items: center;
    
}
.qData{
    /*Contains timer and Scores stuck up on each other to the right*/
    border-style: solid;
    border-color: red;
    height: 545px;
    width: 420px;
    display:flexbox;




}

.timer{
    /*contains timer only*/
    border-color: green;
    border-style: dashed;
    height: 350px;

}
.scores{
    /*contains scores*/
    display: inline-block;
    
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 20px;
    z-index: 10;
    background-color: white;
    width: 100px;
    height: 100px;

}
.modal.active{
    transform: translate(-50%, -50%) scale(1);
}
.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-body{
    padding: auto;
}



.hScores{
    /*Table to store highest scores*/

}

.footer{
    /*Standard footer element*/

    
}